<html>
  <head>
    <title>fungalDiagnosis</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
  
    <div style="margin: 2%;">
      <div class="main-head">
        <div style="margin: auto;width: 40%; float: left; "><i>fungal</i>Diagnosis</div>
        <div style="margin: auto;margin-top:20;float: right; width: 55%; text-align: right;" ><i><h3> Save time. Save life.</h3></i></div>
      </div>
      <br />
      <div id="navigation">
        <a href="/">Home</a>
        <a href="/help">Help</a>
        <a href="/about">About Us</a>
      </div>
      <img
        class="fit-picture"
        src="..\static\image3.jpg"
        alt="fungi banner"
      />
      <br />
      <div class="box" style="padding-top: 2%; margin-top: 0%;">
        <form
          class="form-horizontal"
          action="/output"
          method="post"
          enctype="multipart/form-data"
        >
          <!-- col-sm-offset-4 col-sm-3   -->
          <div class="form-group">
            <div class="input-box">
              <input
                valign="middle"
                style="
                  border: none;
                  border-style: none;
                  padding-bottom: 0%;
                  padding-top: 3%;
                  margin-bottom: 0%;
                  padding-left: 25%;
                  padding-right: 25%;
                "
                placeholder="Upload file"
                id="image"
            name="image"
            type="file"
            accept="image/*"
              /><br />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-5 col-sm-7">
              <button type="Submit" class="btn btn-default butn">Upload</button>
            </div>
          </div>
        </form>
      </div>
    </div>


    
  </body>
</html>
